/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --akcent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --background-color: #FFF1F7;
  --font-family: IBM Plex Mono, monospace;
  --normal_font-style: normal;
  --main-text-size: 18px;
  --main-text-color: #353430;
  --akcent-text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --main-text-font-weight: 400;
  --title-text-font-weight: 700;
  /* Переменные светлой темы */    
}

.page.theme_light.header_rec {
  visibility: hidden ;
}

.page.theme_light {
  --akcent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --background-color: #FFF1F7;
  --font-family: IBM Plex Mono, monospace;
  --normal_font-style: normal;
  --main-text-size: 18px;
  --main-text-color: #353430;
  --akcent-text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --main-text-font-weight: 400;
  --title-text-font-weight: 700;
  --decor-rec-visibility: hidden;
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
:root {
  --akcent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --background-color: #FFF1F7;
  --title-decor-color: #353430;
  --font-family: IBM Plex Mono, monospace;
  --normal_font-style: normal;
  --main-text-size: 18px;
  --main-text-color: #353430;
  --akcent-text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --main-text-font-weight: 400;
  --title-text-font-weight: 700;
  --decor-rec-visibility: hidden;
      /* Дублируем переменные светлой темы */    
  }

  .page.theme_light.header_rec {
    display: none;
  }
}



