/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0;
  padding: 20px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 95vh;
  margin-bottom: 58px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--akcent-text-color);
  border-left: 1px solid var(--akcent-text-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  border-top: 1px solid var(--akcent-text-color);
  border-right: 1px solid var(--akcent-text-color);
}

.header_rec {
  position: absolute;
  text-transform: uppercase;
  color: var(--akcent-text-color);
  font-family: var(--font-family);
  font-size: var(--main-text-size);
  font-style: var(--normal_font-style);
  font-weight: var(--main-text-font-weight);
  line-height: 25px;
  inset-inline-end: 22px;
  visibility: var(--decor-rec-visibility);
}

.header__decor-rec {
  display: flex;
  gap: 7px;
}

.header__decor-lump::before {
  content: "";
  position: absolute;
  background-image: url(../images/Ellipse4.png);
  width: 17px;
  height: 17px;
  fill: var(--akcent-color);
  filter: drop-shadow(0px 0px 4px var(--akcent-color));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  inset-block-start: 4px;
}

.header__theme-menu-list {
  position: relative;
  inset-inline-start: -21px;
  margin: 0;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 70px);
  justify-content: center;
}

.header__theme-menu-button {
  color: var(--akcent-text-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--main-text-size);
  font-style: var(--normal_font-style);
  font-weight: var(--main-text-font-weight);
  line-height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 25px;
  padding: 0 13px;
  text-transform: lowercase;
}

.header__theme-menu-item {
  display: inline-flex;
  height: 26px;
  padding: 0px 13px;
  justify-content: center;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--akcent-text-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: var(--frame-hover);
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  color: var(--akcent-text-color);
  text-underline-offset: 5px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__title {
  position: relative;
  right: 20px;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--akcent-color);
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: var(--normal_font-style);
  font-weight: var(--title-text-font-weight);
  line-height: 82.5%;
}

.title-decor {
  margin: 0;
  margin-block-start: 20px;
  margin-block-end: 10px;
  color: var(--title-decor-color);
  font-family: var(--font-family);
  font-size: var(--main-text-size);
  font-style: normal;
  font-weight: var(--title-text-font-weight);
  line-height: 23.4px;
  background: var(--akcent-color);
  justify-self: end;
}

.header__text-block {
  max-inline-size: 491px;
  max-block-size: 70px;
  margin-block-start: 8px;
}

.header__decorated-lump::before {
  content: "rec";
  position: absolute;
  text-transform: uppercase;
  color: var(--akcent-text-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--main-text-size);
  font-style: var(--normal_font-style);
  font-weight: var(--main-text-font-weight);
  line-height: 25px;
}

.header__decorated-lump {
  position: absolute;
  background-image: url(../images/Ellipse4.png);
  width: 21px;
  height: 21px;
  fill: var(--akcent-color);
  filter: drop-shadow(0px 0px 4px var(--akcent-color));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: grid;
  gap: 80px;
}

.main__question-text {
  margin: 0;
  color: var(--akcent-text-color);
  font-family: var(--font-family);
  font-size: var(--main-text-size);
  font-style: var(--normal_font-style);
  font-weight: var(--title-text-font-weight);
  line-height: 23.4px;
}

.main__text {
  margin: 0;
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-size: var(--main-text-size);
  font-style: var(--normal_font-style);
  font-weight: var(--main-text-font-weight);
  line-height: 23.4px;
}

.link__text {
  text-shadow: 2px 2px 0px var(--text-shadow);
  text-decoration: none;
}

.link__text:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.link__text:focus-visible {
  border: 1px solid var(--main-text-color);
}

.link__text:focus {
  outline: none;
}

.section-why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
}

.article__first-section {
  position: relative;
  inset-inline-start: 7px;
}

.main__question-why-text {
  margin-block-start: 21px;
}

.question-text-what {
  margin: 0;
  max-inline-size: 315px;
}

.article__second-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section-how {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 13px;
}

.title-decor-five {
  margin: 0;
}

.main__new-color-text {
  font-weight: var(--main-text-font-weight);
}

.article__third-section {
  position: relative;
}

.article__picture-section {
  margin-top: 20px;
  container-type: inline-size;
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.card__img {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__img:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.card__img:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.card__img:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.card__img:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.footer {
  margin-block-start: 80px;
  display: flex;
  height: 95vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--akcent-color);
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: var(--normal_font-style);
  font-weight: var(--title-text-font-weight);
  line-height: 82.5%; /* 129.525px */
}

@media (min-width: 376px) and (max-width: 768px) {
  .header {
    margin-bottom: 71px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    inset-inline-start: 0;
    inset-block-start: 58px;
  }

  .header__theme-menu-item {
    padding: 0;
  }

  .decorated-zone::after {
    inset-block-end: -13px;
  }

  .header__title {
    inset-block-start: 40px;
  }

  .header__text-block {
    max-inline-size: 364px;
    max-block-size: 117px;
    margin-block-start: 56px;
  }

  .article__first-section {
    inset-inline-start: 13px;
  }

  .main__question-text {
    max-inline-size: 236px;
  }

  .article__second-section {
    grid-template-columns: none;
    gap: 0;
  }

  .section-how {
    gap: 19px;
  }
  .footer__title {
    margin-block-start: 112px;
  }
}

@media (max-width: 376px) {
  .page {
    max-width: 375px;
    padding: 10px;
  }

  .header {
    margin-bottom: 42px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    inset-inline-start: 0;
    inset-block-start: 41px;
  }

  .header__theme-menu-item {
    padding: 0;
  }

  .decorated-zone::after {
    inset-block-end: -13px;
  }

  .header__title {
    font-size: 116px;
    inset-inline-start: 0px;
    inset-block-start: 8px;
  }

  .header__text-block {
    position: relative;
    inset-block-end: 23px;
    justify-self: start;
    max-inline-size: 355px;
    max-block-size: 117px;
  }

  .main {
    gap: 50px;
  }

  .section-why {
    max-inline-size: 355px;
    grid-template-columns: none;
  }

  .article__first-section {
    inset-inline-start: 0;
  }

  .main__question-text {
    max-inline-size: 355px;
  }

  .section-what {
    max-inline-size: 355px;
  }

  .article__second-section {
    grid-template-columns: none;
    gap: 0;
  }

  .section-how {
    grid-template-columns: none;
    gap: 19px;
  }

  .article__picture-section {
    display: block;
    margin-block-start: 10px;
  }

  .card__img {
    margin-bottom: 10px;
  }

  .footer {
    margin-block-start: 41px;
  }

  .footer__title {
    position: relative;
    inset-block-start: 8px;
    font-size: 116px;
  }

  .decorated-zone::after {
    inset-block-end: -11px;
  }
}
